.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}
.form {
  margin-top: 50px;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.tdAccion{
  position: rigth;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 10px;
  width: 100px;
}
button {
  padding-right: 50px;
  margin-right: 1%;
  width: 100px;
  margin-top: 1%;
}
